<div class="traffic-light">
    <div class="light" [ngClass]="{'on': currentColor === 'green'}" style="background-color: green;"></div>
    <div class="light" [ngClass]="{'on': currentColor === 'yellow'}" style="background-color: yellow;"></div>
    <div class="light" [ngClass]="{'on': currentColor === 'orange'}" style="background-color: orange;"></div>
    <div class="light" [ngClass]="{'on': currentColor === 'red'}" style="background-color: red;"></div>
    <div class="light" [ngClass]="{'on': currentColor === 'violet'}" style="background-color: violet;"></div>
</div>
  
